ul#module-list{
    --li-border: 1px solid black;
    margin: 0;
    padding: 0;
}

#module-list > li {
    list-style: none;
    border-top: var(--li-border);
    border-left: var(--li-border);
    border-right: var(--li-border);
    padding: 0.5em;
}

#module-list > li:last-child {
    border-bottom: var(--li-border);
}

#module-list > li > button {
    margin-left: 0.3em;
}

#text-edit {
    width: 80%;
}

#module-name {
    display: block;
}
#save-button {
    display: block;
}
